<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Some Website</title>
	</head>
	<body>
		{{> header}}
		<p>Thanks for visiting my portfolio you can view my projects <a href="https://github.com/davehemming">here</a>.</p>

		{{> footer}}
	</body>
</html>
